:root {
    --gray: rgb(70, 69, 69);
  }

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    transition: 0.5s;
}

body {
    background-color: #ebe9e9;
  }

.container{
    max-width: 1150px;
    margin: 0 auto;
}


/* set content */
.content_box {
      display: grid;
      grid-template-columns: 1fr 4fr;
      gap: 0.5px;
      margin-top: 20px;
}

/* NAV SIDE BAR */

.leftNav_con {
    position: relative;
    left: 0;
    width: 200px;
    height: auto;
    display: block ;
    background-color:white ;
    overflow-x: hidden;
}

.leftNav_con .drop_con, .drop_sup_btn,
 .drop_sup_con {
    font-size: 14px;
    margin:0 0.3rem;
    display: none;
    background-color: #7a7a7a;
    padding: 3px 15px;
    /* padding-left: 15px; */
    
}

.leftNav_con ul li {
    margin: 0.5rem 0;
    color: white;
}

.fa-caret-down {
    float: right;
    padding-right: 1rem;
}

.style_btn_con .style_drop_btn,
.region_btn_con .region_drop_btn{
    margin-top: 0.8rem;
    margin-bottom: 0;

}
.style_drop_btn, .region_drop_btn {
    width: 100%;
    margin: 0.3rem;
    padding: 4px 10px;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    border: none;
    text-align: left;
}
#sup_btn{
    width: 100%;
    margin: 0.15rem;
    padding: 2px 10px;
    font-size: 15px;
    font-weight: 300;
    color: white;
    background-color: #7a7a7a;
    border: none;
    text-align: left;
}
#sup_btn:hover{
    cursor: pointer;
    border-left: 2px solid orangered;
    transition: 0.05s;
}
button:hover{
    cursor: pointer;
    border-left: 2px solid orangered;
    transition: 0.05s;
}
.leftNav_con .drop_con li:hover,
.drop_sup_con li:hover {
    cursor: pointer;
    border-bottom: 2px solid orangered;
    transition: 0.05s;
}
.active {
    background-color: #000;
    color: white;
}

/* Slider Part */
.carousel{
    height: 55vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}
.carousel .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list .item .content{
    position: absolute;
    top: 6%;
    width: 42%;
    height: 72%;
    left: 3%;
    transform: translateX(-3%);
    box-sizing: border-box;
    color: white;
    text-shadow: 0 5px 10px #0004;
    background: rgba(0, 0, 0, 0.3);
    padding: 1rem 0.5rem;
}
.carousel .list .item .author{
    font-weight: bold;
    letter-spacing: 15px;
    line-height: 1.3em;
}
.carousel .list .item .title{
    font-size: 2em;
    font-weight: bold;
    line-height: 1.3em;
}
.carousel .list .item .topic{
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.3em;
    color: goldenrod;
}

.carousel .list .item .buttons{
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: 30px;
    gap: 5px;
    margin: 20px 0;
}
.carousel .list .item .buttons button{
    border: none;
    background-color: white;
    letter-spacing: 3px;
    font-weight: 500;
}
.carousel .list .item .buttons button:nth-child(2){
    background-color: transparent;
    border: 1px solid white;
    color: whitesmoke;
}
/* thumbail */
.thumbnail{
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 130px;
    height: 180px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0px 3px 4px 4px rgba(0, 0, 0, 0.6);
}
.thumbnail .item .content{
    color: whitesmoke;
    position: absolute;
    width: 80%;
    background: rgba(0, 0, 0, 0.5);
    bottom: 10px;
    right: 0;
    padding: 0.3rem;
    font-size: 14px;
}
.thumbnail .item .content .title,
.thumbnail .item .content .description{
    font-weight: 300;
}
/* arrows */
.arrows{
    position: absolute;
    top: 85%;
    left: 20%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 20px;
    align-items: center;
    
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    font-size: 16px;
    color: whitesmoke;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}
.arrows button:hover{
    background-color: whitesmoke;
    color: #000;
}

/* animation */
.carousel .list .item:nth-child(1){
    z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 0.5s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.carousel .list .item:nth-child(1) .content .title{
    animation-delay: 1s!important;
}
.carousel .list .item:nth-child(1) .content .topic{
    animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .des{
    animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
    animation-delay: 1.6s!important;
}
/* create animation when next click */   
.carousel.next .list .item:nth-child(1) img{
    width: 130px;
    height: 180px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
} 
  
.carousel.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
    z-index: 100;
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
.carousel.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(130px);
    }
}

/* running time */

.carousel .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 2px;
    background-color: orangered;
    left: 0;
    bottom: 0;
}

.carousel.next .time,
.carousel.prev .time{
    animation: runningTime 2s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}


/* prev click */

.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 130px;
        height: 180px;
        bottom: 20px;
        left: 50%;
        border-radius: 20px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-130px);
        filter: blur(20px);
        opacity: 0;
    }
}


/* blog part */
.blog_con {
    width: 100%;
    left: 0;
    position: relative;
    background-color: white;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    
}

.blog_title {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: space-between;
    padding: 0 2rem;
    list-style: none;
    background-color: #ffffff;
}

.blog_item {
    margin: 1.5rem;
    border-bottom: 1px solid gray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.blog_item img {
    width: 100%;
    height: 30vh;
    object-fit:cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.blog_item:hover {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.6);
}
.blog_item  .user_info {
    display: flex;
    margin: 0.5rem auto;
    justify-content: space-between;
    align-items: center;
}

.user_info img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    /* overflow: hidden; */
}


.blog_item p {
    margin: 0.8rem 0;
}

.foot_blog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.2rem;
}

.blog_item a {
    color: white;
    background-color: rgb(97, 97, 97);
    padding: 0.3rem ;
    text-decoration: none;
    font-size: 13px;
    border-radius: 5px;
}
 .foot_blog_left {
    display: flex;
    align-items: center;
 }
 .foot_blog_left p {
    margin: 0 0.5rem;
    font-size: 13px;
 }


 /* Slider Content Blog */
 .slide_blog {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
 }
 .slide_box {
    border: 1px solid grey; 
    border-radius: 5px;
    margin: 0;
    /* padding:5px 3px; */
 }
.slide_box a {
    float: left;
    padding: 5px 10px;
    color: rgb(0, 0, 0);
}
.slide_box a.active{
    background-color: #7a7a7a;
    color: white;
}
.slide_box a:hover{
    background-color: #0004;
    color: whitesmoke!important;
}
.slide_box .next{
    background-color: #0004;
    color: #7a7a7a!important;
}

/* popup pic stack */
